@*
    
*@
@{
}
<h1>Inicio de Sesion</h1>

<form action="/Periodista/LoginPeriodista" method="post">
    <label for="username">Nombre de Usuario</label>
    <input type="text" id="username" name="nombreCompleto" />
    <br />
    <br />
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" />
    <br />
    <br />
    <button type="submit">Iniciar Sesion</button>
</form>