@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Dominio;

<h1>Agregar Incidencia</h1>
<form action="/Partido/FinalizarEliminatoria" method="post">

    <input type="hidden" name="idPartido" value="@ViewBag.idPartido" />

    <div class="form-outline mb-4">
        <label class="form-label" for="alargues">Alargue: </label>
        <select id="alargues" name="alargues" class="form-control">
            <option name="alargues" value="true">Si</option>
            <option name="alargues" value="false">No</option>
        </select>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="penales">Penales: </label>
        <select id="penales" name="penales" class="form-control">
            <option name="penales" value="true">Si</option>
            <option name="penales" value="false">No</option>
        </select>
    </div>

    <div class="form-outline mb-4">
        <button type="submit" class="btn btn-primary btn-block mb-4">Actualizar</button>
    </div>


</form>