@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Dominio;
@model List<Partido>;

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Seleccion 1</th>
            <th scope="col">Seleccion 2</th>
            @if (ViewBag.rol == "Periodista")
            {
                <th scope="col">Resenia</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Partido partido in Model)
            {
                <tr>
                    <th scope="row">i</th>
                    <td>@partido.fechaHora</td>
                    <td>@partido.seleccion1</td>
                    <td>@partido.seleccion2</td>
                    @if (ViewBag.rol == "Periodista")
                    {
                        <td>@Html.ActionLink("Agregar Resenia", "AltaResenia", "Resenia", new { idPartido = partido.id })</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>