@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Dominio;

<h1>Obtener Partido Entre 2 Fechas</h1>

<form action="/Partido/ListarPartidoFiltrado" method="post">
<label for="f1">Fecha 1</label>
<input type="date" id="f1" name="f1" />
<br />
<label for="f2">Fecha 2</label>
<input type="date" id="f2" name="f2" />
<br />
<button type="submit">Buscar Partidos</button>
</form>
